@import url(https://fonts.googleapis.com/css?family=Allura|Great+Vibes|Parisienne|Poppins:400,700&display=swap&subset=latin-ext);
body {
  background: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 12px; }

h2 {
  margin: 0; }

h3 {
  margin: 10px;
  margin-bottom: 20px;
  line-height: 24px;
  font-size: 1.8em; }

.font2 {
  font-family: 'Parisienne', cursive; }

.container {
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto; }

.fa-phone-volume, .fa-paper-plane {
  font-size: 1.2em;
  color: #000;
  margin: 0 5px; }

.title {
  padding-top: 100px;
  text-align: center;
  margin-bottom: 30px; }

.title h1 {
  font-size: 3.4em;
  margin: 0;
  margin-bottom: 30px; }

.title h3 {
  margin: 10px;
  margin-bottom: 20px;
  line-height: 24px;
  font-size: 1.8em; }

.title p {
  font-size: 1.2em; }

.title p:last-child {
  color: #b8984f;
  text-transform: uppercase;
  font-size: 1.4em;
  margin-top: 50px;
  margin-bottom: 100px; }

.top-main {
  z-index: 1;
  position: fixed;
  width: 100%;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.3); }

.top-main .container .wrapper {
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  height: 20px;
  padding: 15px; }

.top-main .container .wrapper .logo {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  height: 80px;
  line-height: 95px;
  position: relative; }

.top-main .container .wrapper .logo .logo-top {
  position: absolute;
  font-family: serif;
  text-transform: uppercase;
  transition: 0.2s;
  font-size: 9px;
  top: -29px;
  left: 44px;
  color: #000; }

.top-main .container .wrapper .logo .logo-bottom {
  font-family: 'Parisienne', cursive;
  transition: 0.3s;
  margin: 0;
  font-size: 30px;
  color: #000; }

.top-main .container .wrapper .logo:hover p {
  color: #000; }

.top-main .container .wrapper nav {
  display: inline-block; }

.top-main .container .wrapper nav a {
  letter-spacing: 2px;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
  font-size: 1.3em; }

.top-main .container .wrapper nav a:hover {
  color: #b8984f;
  transition: 0.2s; }

.top-main-index {
  background: #fff;
  opacity: 1; }

.stick {
  width: 100%;
  opacity: 0.7;
  background: #000;
  text-shadow: none; }

.stick .container .wrapper .logo .logo-top, .stick .container .wrapper .logo .logo-bottom {
  color: #fff; }

.stick .container .wrapper nav {
  background: none; }

.stick .container .wrapper nav a {
  color: #fff;
  text-shadow: none; }

header {
  background: #fff; }

header .nav-content {
  z-index: 0;
  background-image: url(../img/content/top-big-compressed.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  background-attachment: fixed; }

header .nav-content img {
  max-width: 100%;
  height: auto; }

footer {
  background: #000;
  text-align: center;
  color: #fff;
  padding: 2em;
  border-top: 1px solid white; }

.arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transform: translateY(200px); }

.arrow i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  background: red;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  transition: 0.1s; }

.arrow i:hover {
  color: yellow;
  font-size: 28px;
  transform: scale3d(1.1, 1.1, 1.1) translateY(-4px);
  cursor: pointer; }

#offer {
  border-top: 1px solid #000;
  margin: 0;
  padding: 0; }

#offer .offer-container {
  display: flex;
  flex-wrap: wrap; }

#offer .offer-container .single-offer {
  flex-basis: 50%;
  display: flex;
  color: #000;
  text-decoration: none;
  overflow: hidden; }

#offer .offer-container .single-offer .so-img {
  flex-basis: 50%;
  border: 1px solid #b8984f;
  height: 100%; }

#offer .offer-container .single-offer .so-img img {
  transition: 0.6s;
  width: 100%;
  height: 100%;
  display: block; }

#offer .offer-container .single-offer .so-title {
  flex-basis: 50%;
  border: 1px solid #b8984f;
  border-left: 1px solid transparent;
  background: #eaeaea;
  height: 100%;
  text-align: center;
  position: relative;
  transition: 1s; }

#offer .offer-container .single-offer .so-title .title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s; }

#offer .offer-container .single-offer .so-title .title-container h3 {
  font-size: 2em; }

#offer .offer-container .single-offer:hover img {
  transform: scale(1.1, 1.1); }

#offer .offer-container .single-offer:hover .so-title {
  background: #b8984f; }

#offer .offer-container .single-offer:hover .so-title .title-container {
  color: #fff; }

#offer .offer-container .change-side {
  flex-direction: row-reverse; }

#offer .offer-container .change-side .so-title {
  border-right: 1px solid transparent;
  border-left: 1px solid #b8984f; }

.contact {
  padding-top: 40px;
  background: #000;
  border-top: 3px solid #fff;
  color: #fff; }

.contact .container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px; }

.contact p {
  margin: 0;
  line-height: 24px; }

.contact .contactHeader {
  flex-basis: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
  background: #000; }

.contact .contactHeader::after {
  content: '';
  border-bottom: 2px solid #fff;
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
  display: block; }

.contact .contactPhone {
  position: relative;
  transition: 1s; }

.contact .contactPhone::before, .contact .contactPhone::after {
  content: '';
  position: absolute;
  display: block;
  height: 210px;
  transform: translate(-50%, -50%);
  top: 50%; }

.contact .contactPhone:before {
  border-left: 2px solid #fff;
  left: 10px; }

.contact .contactPhone:after {
  right: 10px;
  border-right: 2px solid #fff; }

.contact .contactPhone p {
  padding: 4% 20px 5px 0; }

.contact .contactPhone .fa-phone-volume, .contact .contactPhone .fa-paper-plane {
  color: #000;
  transition: 0.7s;
  position: relative;
  left: -5px; }

.contact .contactPhone .fa-paper-plane {
  left: -12px; }

.contact section {
  flex-basis: 30%;
  text-align: center;
  padding: 15px; }

.contact section p {
  font-size: 1.4em; }

.contact section a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  background: #eaeaea;
  padding: 10px;
  width: 110px;
  font-size: 1.1em;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  border: 1px solid #000;
  box-shadow: 0px 16px 15px -10px black;
  transition: 0.7s;
  margin-top: 10px; }

.contact section a:hover {
  transition: 0.5s;
  background: #b8984f;
  color: #000;
  transform: scale(0.9, 0.9); }

.contact .openingHours p {
  text-align: left;
  margin-left: 10px; }

.contact .openingHours .hours {
  text-align: right;
  float: right;
  margin-right: 30px; }

.contact .openingHours .hours:after {
  content: '';
  clear: both;
  display: block; }

.topBG {
  position: relative;
  width: 100%;
  height: 280px;
  background: #fff;
  border-bottom: 3px solid #000; }

.topBG img {
  float: right; }

.topBG .imageTitle {
  position: absolute;
  top: 100px;
  left: 170px;
  font-size: 4em;
  font-weight: bold;
  color: #000;
  letter-spacing: 10px;
  text-decoration: underline;
  -webkit-text-decoration-color: #b8984f;
  text-decoration-color: #b8984f; }

.prices .tablePrices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 80px; }

.prices .tablePrices .singlePrice {
  flex-basis: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  transition: 0.2s; }

.prices .tablePrices .singlePrice:last-child {
  border-bottom: none; }

.prices .tablePrices .singlePrice a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding-left: 40px; }

.prices .tablePrices .singlePrice p {
  padding-right: 40px; }

.prices .tablePrices .singlePrice:hover {
  background: black;
  background: #cccbcb; }

.prices .tablePrices .singlePrice:hover a, .prices .tablePrices .singlePrice:hover p {
  font-weight: bold; }

.prices .tablePrices .pricesTitle {
  padding-top: 70px;
  font-size: 2em; }

.prices .tablePrices .pricesTitle:nth-child(1) {
  padding-top: 50px; }

#gallery {
  background: #000;
  padding-bottom: 80px; }
